.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.spinner {
    position: relative;
    display: inline-block;
}

.spinner-small {
    width: 30px;
    height: 30px;
}

.spinner-medium {
    width: 50px;
    height: 50px;
}

.spinner-large {
    width: 80px;
    height: 80px;
}

.spinner-ring {
    position: absolute;
    border: 3px solid transparent;
    border-top-color: #42b983;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner-ring:nth-child(1) {
    width: 100%;
    height: 100%;
    animation-duration: 1s;
}

.spinner-ring:nth-child(2) {
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    border-top-color: #3aa876;
    animation-duration: 1.2s;
    animation-direction: reverse;
}

.spinner-ring:nth-child(3) {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border-top-color: #2c3e50;
    animation-duration: 0.8s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-message {
    margin: 0;
    color: #495057;
    font-weight: 500;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}